$white: #fff;
$black: #000;

//
$color-primary: #5b2d6e;
$color-primary1: #f1c576;
$color-primary2: #be8d62;
$color-primary-light: #f85151;
$color-secondary: #303033;
$color-light: #f4f2ea;
$color-dark: #0a0a0a;
$color-danger: #73271b;
$color-danger1: #bb0c2e;
$grey-f6: #f6f6f6;
$grey-a6: #9fa4a6;
$grey5a: #53585a;
$greyda: #ced4da;
// Bootsrap variable
$primary: #5b2d6e;
// $secondary
// $success
// $info
// $warning
$danger: #dc3545;
// $light
// $dark
$input-padding-x: 1rem;
$input-padding-y: 0.8rem;
$btn-padding-y: 0.8rem;
$btn-padding-x: 1.4rem;
$form-select-padding-x: 1.4rem;
$form-select-padding-y: 0.8rem;
$border-radius: rem(10);
$shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
